[submodule "packages/fgof-process"]
	path = packages/fgof-process
	url = ../fgof-process
	branch = trunk
[submodule "packages/fgof-fs"]
	path = packages/fgof-fs
	url = ../fgof-fs
	branch = trunk
[submodule "packages/fgof-pty"]
	path = packages/fgof-pty
	url = ../fgof-pty
	branch = trunk
[submodule "packages/fgof-lineedit"]
	path = packages/fgof-lineedit
	url = ../fgof-lineedit
	branch = trunk
[submodule "packages/fgof-watch"]
	path = packages/fgof-watch
	url = ../fgof-watch
	branch = trunk
[submodule "packages/fgof-termios"]
	path = packages/fgof-termios
	url = ../fgof-termios
	branch = trunk
