[submodule "packages/fgof-process"]
	path = packages/fgof-process
	url = ../fgof-process
	branch = trunk
[submodule "packages/fgof-fs"]
	path = packages/fgof-fs
	url = ../fgof-fs
	branch = trunk
[submodule "packages/fgof-pty"]
	path = packages/fgof-pty
	url = ../fgof-pty
	branch = trunk
[submodule "packages/fgof-lineedit"]
	path = packages/fgof-lineedit
	url = ../fgof-lineedit
	branch = trunk
[submodule "packages/fgof-watch"]
	path = packages/fgof-watch
	url = ../fgof-watch
	branch = trunk
[submodule "packages/fgof-termios"]
	path = packages/fgof-termios
	url = ../fgof-termios
	branch = trunk
[submodule "packages/fgof-keys"]
	path = packages/fgof-keys
	url = ../fgof-keys
	branch = trunk
[submodule "packages/fgof-expect"]
	path = packages/fgof-expect
	url = ../fgof-expect
	branch = trunk
[submodule "packages/fgof-proc-test"]
	path = packages/fgof-proc-test
	url = ../fgof-proc-test
	branch = trunk
[submodule "packages/fgof-temp"]
	path = packages/fgof-temp
	url = ../fgof-temp
	branch = trunk
[submodule "packages/fgof-cache"]
	path = packages/fgof-cache
	url = ../fgof-cache
	branch = trunk
[submodule "packages/fgof-state"]
	path = packages/fgof-state
	url = ../fgof-state
	branch = trunk
[submodule "packages/fgof-clipboard"]
	path = packages/fgof-clipboard
	url = ../fgof-clipboard
	branch = trunk
[submodule "packages/fgof-screen"]
	path = packages/fgof-screen
	url = ../fgof-screen
	branch = trunk
[submodule "packages/fgof-jobs"]
	path = packages/fgof-jobs
	url = ../fgof-jobs
	branch = trunk
